<h1>Friends List</h1>

<%= form_tag search_friend_path , method: :get, remote: true do %>
    <%= text_field_tag :friend, params[:friend] %>
    <%= submit_tag "Search" %>
<% end %>

<div id="fr" >
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user_friends.each do |friend| %>
        <tr>
            <th scope="row"><%= friend.email %></th>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td><%= link_to 'Stop following', destroy_friends_path(id: friend.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
        </tr>    
    <% end %>
    
  </tbody>
</table>