<h1>My portfolio</h1>

<%= form_tag search_path , method: :get, remote: true do %>
    <%= text_field_tag :stock, params[:stock] %>
    <%= submit_tag "Search" %>
<% end %>

<div id="stocks">
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ticker</th>
      <th scope="col">Last price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @user_stocks.each do |stock| %>
        <tr>
            <th scope="row"><%= stock.name %></th>
            <td><%= stock.ticker %></td>
            <td><%= stock.last_price %></td>
            <td><%= link_to 'Delete', destroy_stock_path(id: stock.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
        </tr>    
    <% end %>
    
  </tbody>
</table>

<%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-danger" %>











